 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.4), rgba(41,46,51,0.4)), url("images/fdfdfdf.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 183px auto 0;
}

.u-section-1 .u-image-1 {
  height: 146px;
  width: 357px;
  margin: -5px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: -2px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  margin: 47px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 64px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    height: 70px;
    width: 259px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-image-1 {
    height: 86px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 195px;
}

.u-section-2 .u-list-1 {
  width: 1142px;
  margin: -62px -1px 50px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 207px;
  grid-gap: 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-3 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/photo-1504870712357-65ea720d6078.jpg");
  background-position: 50% 50%;
  margin: 0 96px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/photo-1418065460487-3e41a6c84dc5.jpg");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-3 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/photo-1483197452165-7abc4b248905.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-3 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 291px;
  margin-top: 71px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px 49px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 3.75rem;
  margin: 5px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px auto 0;
  padding: 16px 52px 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-3 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -628px;
    margin-left: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-top: 141px;
    margin-left: 171px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -432px;
    margin-left: 52px;
  }

  .u-section-3 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-top: 7px;
    margin-right: 20px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 147px;
    margin-bottom: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1863px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 331px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -658px;
    margin-left: 13px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 245px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: 87px;
    margin-bottom: -190px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-3 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -799px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-top: 348px;
    margin-right: 0;
    margin-left: -19px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -671px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 167px;
    height: 167px;
    margin-top: 281px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 125px;
    margin-bottom: -251px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 28px;
  }

  .u-section-3 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -308px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-top: 50px;
    margin-left: -14px;
  }

  .u-section-3 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -370px;
  }

  .u-section-3 .u-shape-2 {
    width: 101px;
    height: 101px;
    margin-top: 39px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 157px;
    margin-bottom: 8px;
    min-height: 310px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-group-1 {
  width: 534px;
  min-height: 163px;
  background-image: none;
  margin: 58px auto 0 98px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-family: Lato, sans-serif;
  margin: 15px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 945px;
  margin: 15px auto 55px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 538px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 7px 1px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 58px auto 0 0;
  padding: 16px 52px 17px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-4 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-4 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/227712055_339422314573281_7450242582320276824_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-4 .u-group-1 {
    min-height: 143px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 324px;
    height: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 6px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    height: 460px;
    margin-left: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 753px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 63px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
    margin-top: -22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 555px;
}

.u-section-5 .u-list-1 {
  width: 1033px;
  margin: 30px auto 10px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-5 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/261508335_745532796841452_3833854366038074454_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 8px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 39px 8px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 8px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-5 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/248795370_1811160112402262_68256627295363955_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 8px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 39px 8px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 8px 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-5 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/271258812_665283581149383_6833626130568164699_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 8px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 39px 8px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 27px 8px 0;
}

.u-section-5 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 21px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1078px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1463px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin: 0 0 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 993px;
}

.u-section-6 .u-shape-1 {
  width: 246px;
  height: 246px;
  background-image: none;
  margin: 46px auto 0 712px;
}

.u-section-6 .u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url("images/40d1a31baeff29a317f641b9ea82f2281.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -246px auto 0 51px;
}

.u-section-6 .u-group-1 {
  width: 613px;
  min-height: 505px;
  background-image: none;
  margin: -240px 20px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px 35px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 88px 43px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 11px 43px 0 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 43px auto 0 0;
  padding: 16px 52px 17px;
}

.u-section-6 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: -432px auto 310px 20px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 68px auto 60px 41px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-left: 694px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 28px;
  }

  .u-section-6 .u-group-1 {
    margin-right: 0;
  }

  .u-section-6 .u-shape-2 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    margin-left: 474px;
  }

  .u-section-6 .u-image-1 {
    width: 554px;
    height: 554px;
    margin-top: 20px;
    margin-left: 474px;
  }

  .u-section-6 .u-group-1 {
    width: 447px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-shape-2 {
    width: 138px;
    height: 138px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    margin-left: 294px;
  }

  .u-section-6 .u-image-1 {
    width: 434px;
    height: 434px;
    margin-left: 13px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -130px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    margin-top: 6px;
    margin-left: 94px;
  }

  .u-section-6 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: -187px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 57px;
  }

  .u-section-6 .u-shape-2 {
    width: 96px;
    height: 96px;
    margin: -630px auto 0 41px;
  }
} .u-section-7 {
  min-height: 438px;
}

.u-section-7 .u-gallery-1 {
  height: 438px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 362px;
  }

  .u-section-7 .u-gallery-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 623px;
  }

  .u-section-7 .u-gallery-1 {
    height: 830px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1867px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1868px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1176px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1176px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 896px;
}

.u-section-8 .u-group-1 {
  width: 708px;
  min-height: 560px;
  margin: 59px 170px 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 500px;
  height: 500px;
  background-image: url("images/202417732_532206968126810_8705383297537125019_n.jpg");
  background-position: 50% 50%;
  margin: 30px 0 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 6rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 3px;
  margin: -296px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 30px 170px 0 636px;
}

.u-section-8 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -84px auto 60px 208px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 633px;
    margin-right: 12px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 12px;
    margin-left: 374px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: -138px;
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 206px;
  }

  .u-section-8 .u-shape-1 {
    width: 88px;
    height: 87px;
    margin-top: -128px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-8 .u-group-1 {
    min-height: 356px;
    margin-top: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    width: 299px;
    height: 299px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -232px;
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 6px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 43px;
    margin-left: 41px;
  }
}